body {
    background-color:#cfd0db;
    margin: 0;
    font-family: "Century Gothic";
}

header {
    background-color: #004080;
    margin: 0;
    padding-top: 23px;
    padding-bottom: 23px;
    text-align: center;
    font-size: 20px;
}

.title-name {
    font-weight: bold;
    font-size: 34px;
    padding-left: 20px;
}

header nav img {
    width: 60px;
    float: left;
    margin-left: 80px;
    margin-top: -10px;
}

.side-bar-main-info {
    display: flex;
}

.side-bar-main-info aside {
    display: flex;
    background-color: #00408090;
    flex-direction: column;
    width: 25%;
    height: 100%;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 656px;
    font-size: 26px;
}

.side-bar-main-info aside a:visited {
    color: rgb(36, 35, 35);
}

.side-bar-main-info aside a:hover {
    color: #004080;
}

.side-bar-main-info main {
    display: flex;
    flex-direction: column;
    background-color: beige;
    width: 70%;
    flex-wrap: wrap;
    align-content: center;
}